certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
filelock==3.4.0
gensim==4.1.2
huggingface-hub==0.2.1
idna==3.3
joblib==1.1.0
networkx==2.6.3
numpy==1.19.2
packaging==21.3
Pillow==8.4.0
prettytable==2.1.0
pyparsing==3.0.6
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
sacremoses==0.0.46
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
smart-open==5.2.1
threadpoolctl==3.0.0
tokenizers==0.10.3
torch==1.10.1+cu113
torchaudio==0.10.1+cu113
torchvision==0.11.2+cu113
tqdm==4.62.3
transformers==4.10.0
typing_extensions==4.0.1
urllib3==1.26.7
wcwidth==0.2.5
